body{
    margin: 0%;
    padding: 0%;
    background-color: #00a99d ;
}

nav{
    position: absolute;
    top: -2%;
    right: 28%;
    z-index: 1000;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    
    

}

li {
    
    text-transform: uppercase;
    padding: 15px;
    font-size: 14pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   

}



nav ul li a{text-decoration: none;
    color: #1f0441;
    transition-property: all;
    transition-duration: 0.3s;

    
}
nav ul li a:hover{text-decoration: none;
    color: #fc1068;

    
}

#cuadradomenu{position: absolute;
    background-color: #FCAB10;
    width: 100%;
    height: 8%;
    top: 0%;
    z-index: 2;

    
}


#btsesion {
    position: absolute;   
    border: #fc1068 solid 3px;
    width: 12%;
    height: 4%; 
    border-radius: 20px;
    z-index: 3000;
    top: 2%;
    left: 73%;    
    transition-property: all;  
    transition-duration: 0.3s;  
}
   
#btsesion:hover{ 
    background-color: #fc1068;    
}
   

.letrassesion {
    position: absolute;
    z-index: 3100;
    text-decoration: none;
    top: -2%;
    left: 15%;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1f0441;
    text-transform: uppercase;

}

#btentradas {
    position: absolute;   
    border: #fc1068 solid 3px;
    width: 12%;
    height: 4%; 
    z-index: 3000;
    top: 2%;
    left: 87%;    
    transition-property: all;  
    transition-duration: 0.3s;  
}
   
#btentradas:hover{ 
    background-color: #fc1068;    
}
   

.letrasentradas {
    position: absolute;
    z-index: 3100;
    text-decoration: none;
    top: -2%;
    left: 25%;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1f0441;
    text-transform: uppercase;


}


#footer{position: absolute;
    top: 100%;
    width: 100%;
    height: 24%;
   


}
#footerb{position: absolute;
    top: 295%;
    width: 100%;
    height: 24%;
   


}

#footerola{position: absolute;
    top: -10%;
    width: 100%;
    height: 15%;
    z-index: 999999;
   


}
#footer1{position: absolute;
    top: 20%;
    left: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;

}
#footer2{position: absolute;
    top: 20%;
    left: 30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;
}
#footer3{position: absolute;
    top: 20%;
    left: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;
}
#tiburon{position: absolute;
    
    top: 20%;
    left: 72%;
    z-index: 1000;
    height:55%;
    width:25%;



}
#parlante{position: absolute;
    
    top: 40%;
    left: 50%;
    z-index: 800;
    height:55%;
    width:25%



}

#arena{position: absolute;
    
    bottom: 0%;
    right: 0%;
    z-index: 900;
    height:35%;
    width:52%;


}
#titulo1{position: absolute;
    top: 35%;
    left: 5%;
    z-index: 900;
    height: 20.11%;
    width: 41.7%;

}

#logo2{position: absolute;
    top: 1.5%;
    left: 2.5%;
    z-index: 900;
    width:10%;
    height:5%;


}

#cuadrado{position: absolute;
    
    width:45%;
    height: 30%;
    top: 30%;
    left: 2.5%;
    z-index: 900;
    border: solid 12px #FCAB10;



}

#cuadrado2 {position: absolute;
    background-color: #fc1068;
    width: 15%;
    height: 8%;
    top: 58%;
    left: 18%;
    transform: rotate(-4deg);
    z-index: 1500;
    border-radius: 35px;
    border: solid 6px black;
    transition-property: all;
    
}


#cuadrado2:hover{
    background-color: #FCAB10;
    transform: rotate(-8deg);
    

}

.conocemas {position: absolute;
    text-decoration: none;
    z-index: 1600;
    left: 12%;
    top: 12%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform:uppercase;
    text-align: center;
    font-size: 20pt;

}

#fondo{position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 0.1;
    



}

/* nosotros */


#imagenaguas{
    position: absolute;
    width: 60%;
    height: 45%;
    top: 45%;
    right: 0%;
    background-size: cover;
}
#fondo2{position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    }

#mision {
    position: absolute;
    background-color: #1f0441;
    left: 0%;
    top: 45%;
    width: 40%;
    height: 45%;

}

.misiontitulo {
    position: absolute;
    left: 15%;
    top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    font-size: 35pt;
    text-transform: uppercase;
    color: #FCAB10;
    


}

.misiontexto {
    position: absolute;
    right: 15%;
    left: 15%;
    top: 30%;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: #FCAB10;
    
}

#imagenaguas2 {
    position: absolute;
    width: 60%;
    height: 45%;
    top: 90%;
    left: 0%;
    background-size: cover;

}

#vision {
    position: absolute;
    background-color: #1f0441;
    right: 0%;
    top: 90%;
    width: 40%;
    height: 45%;
    
}

.visiontitulo {
    position: absolute;
    left: 15%;
    top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    font-size: 35pt;
    text-transform: uppercase;
    color: #FCAB10;
    
}

.visiontexto {
    position: absolute;
    right: 15%;
    left: 15%;
    top: 35%;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: #FCAB10;

}

#imagenaguas3{
    position: absolute;
    width: 60%;
    height: 45%;
    top: 135%;
    right: 0%;
    background-size: cover;
}

#metodo {
    position: absolute;
    background-color: #1f0441;
    left: 0%;
    top: 135%;
    width: 40%;
    height: 45%;
    

}

.metodotitulo {
    position: absolute;
    left: 15%;
    top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 35pt;
    text-transform: uppercase;
    color: #FCAB10;
    
}

.metodotexto{
    position: absolute;
    right: 15%;
    left: 15%;
    top: 35%;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: #FCAB10;
}



#fundacion{
    position: absolute;
    color: #1f0441;
    top: 8%;
    font-size: 50pt;
    left: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;

}

#sinopsisfundacion{
    position: absolute;
    color: #1f0441;
    width: 70%;
    top: 28%;
    left: 13%;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

#cuadradof{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 190%;
  
    

}

.forma1{
    position: absolute;
    width: 18%;
    height: 72%;
    left: 5%;
    top: 5%;
    z-index: 100;

}
.forma2{
    position: absolute;
    left: 28.5%;
    width: 18%;
    height: 72%;
    top: 5%;
    z-index: 100;

}
.forma3{
    position: absolute;
    right: 28.5%;
    width: 18%;
    height: 72%;
    top: 5%;
    z-index: 100;

}
.forma4{
    position: absolute;
    right: 5%;
    width: 18%;
    height: 72%;
    top: 5%;
    z-index: 100;

}
.forma5{
    position: absolute;
    width: 6%;
    height: 25%;
    left: 10.5%;
    top: 23%;
    z-index: 100;

}
.forma6{
    position: absolute;
    left: 34.5%;
    width: 5%;
    height: 25%;
    top: 20%;
    z-index: 100;

}
.forma7{
    position: absolute;
    left: 58%;
    width: 8%;
    height: 30%;
    top: 20%;
    z-index: 100;

}
.forma8{
    position: absolute;
    left: 81%;
    width: 9%;
    height: 30%;
    top: 18%;
    z-index: 100;

}




.dato1 {
    position: absolute;
    z-index: 20000;
    top: 50%;
    width: 18%;
    height: 72%;
    color: #1f0441;
    left: 5%;
    font-size: 12pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;


}
.dato2 {
    position: absolute;
    z-index: 20000;
    top: 50%;
    width: 16%;
    height: 72%;
    color: #1f0441;
    left: 29.5%;
    font-size: 12pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;


}
.dato3 {
    position: absolute;
    z-index: 20000;
    top: 50%;
    width: 16%;
    height: 72%;
    color: #1f0441;
    left: 54.5%;
    font-size: 12pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;


}
.dato4 {
    position: absolute;
    z-index: 20000;
    top: 50%;
    width: 16%;
    height: 72%;
    color: #1f0441;
    left: 78%;
    font-size: 12pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;


}

#cuadradof2{
    position: absolute;
    background-color: #168d9f;
    width: 100%;
    height: 60%;
    top: 235%;
    bottom: 0%;
    z-index: 8000;
}




.cambio{
    position: absolute;
    color: #1f0441;
    font-size: 50pt;
    left: 23%;
    top: -5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    

}



#btdonar{
    position: absolute;  
    background-color: #fc1068;
    width: 20%;
    height: 20%;    
    border-radius: 15px;
    top: 50%;
    left: 20%;
    transition-property: all;  
    transition-duration: 0.3s;  
}

   
#btdonar:hover{ 
    background-color: #FCAB10;    
}
    
.letrasdonar{
    position: absolute;
    z-index: 89100;
    text-decoration: none;
    font-size: 25pt;
    left: 15%;
    top: 20%;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1f0441;
    
    
}

.fraseaguas {
    position: absolute;
    color: #FCAB10;   
    right: 12%;
    top: 45%;
    font-size: 25pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 0.8px;
}



.fish{
    position:absolute;
    
    bottom: 20%;
    left: 2%;
    z-index: 9000;
    height:40%;
    width:12%;
    z-index: 20000;
}

.arenab{position:absolute;
    bottom: 0%;
    left: 0%;
    z-index: 9000;
    height:25%;
    width:20%;
    z-index: 19000;

}

#bordeola{
    position: absolute;
    top: 175%;
    left: 0%;
    z-index: 1000;
    height:6%;
    width:100%;



}





/* line up*/ 



#marcaagua1{position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    height:100%;
    width:7%;
    



}

#marcaagua2{position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    height:100%;
    width:7%;
    transform: rotate(180deg);

    
}




div#imagen {
    position: absolute;
    width: 300px;
    height: 200px;
    background-size: cover;/*sólo para ejemplo*/
    background-image: url("/img/dualipa.jpg");
    margin-top: 120px;
    margin-left: 220px;

}
  
div#info {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgb(252,172,20);
    opacity:0;
    transition: opacity 0.3s;
}
  
div#imagen:hover div#info {
    opacity:1;
}
  
p#headline {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
div#imagen:hover p#headline {
    margin-left: 115px;
}
  
p#descripcion {
    font-size: 1rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;      
    text-align: center;
    margin-top: 200px;   
    transition: margin-top 0.4s;
}

div#imagen:hover p#descripcion {
    margin-top: 75px;
}
  
  





div#imagen2 {
    position: absolute;
    width: 300px;
    height: 200px;
    background-size: cover;/*sólo para ejemplo*/
    background-image: url("/img/arianagrande.jpg");
    margin-top: 322px;
    margin-left: 220px;

}
  
div#info2 {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgb(252,172,20);
    opacity:0;
    transition: opacity 0.3s;
}
  
div#imagen2:hover div#info2 {
    opacity:1;
}
  
p#headline2 {
    position: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div#imagen2:hover p#headline2 {
    margin-left: 0px;
}
  
  p#descripcion2 {
    font-size: 1rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;      
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
}
  
div#imagen2:hover p#descripcion2 {
    margin-top: 0px;
}
  







div#imagen3 {
    position: absolute;
    width: 300px;
    height: 200px;
    background-size: cover;/*sólo para ejemplo*/
    background-image: url("/img/olivia.jpg");
    margin-top: 120px;
    margin-left: 820px;
}
  
div#info3 {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgb(252,172,20);
    opacity:0;
    transition: opacity 0.3s;
}
  
div#imagen3:hover div#info3 {
    opacity:1;
}
  
p#headline3 {
    position: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div#imagen3:hover p#headline3 {
    margin-left: 0px;
}
  
p#descripcion3 {
    font-size: 1rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;      
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
}
  
div#imagen3:hover p#descripcion3 {
    margin-top: 0px;
}


  




div#imagen4 {
    position: absolute;
    width: 300px;
    height: 200px;
    background-size: cover;/*sólo para ejemplo*/
    background-image: url("/img/theweekend.jpg");
    margin-top: 120px;
    margin-left: 520px;
}
  
div#info4 {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgb(252,172,20);
    opacity:0;
    transition: opacity 0.3s;
}
  
div#imagen4:hover div#info4 {
    opacity:1;
}
  
p#headline4 {
    position: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div#imagen4:hover p#headline4 {
    margin-left: 0px;
}
  
p#descripcion4 {
    font-size: 1rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;      
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
}
  
div#imagen4:hover p#descripcion4 {
    margin-top: 0px;
}
  











div#imagen5 {
    position: absolute;
    width: 300px;
    height: 200px;
    background-size: cover;/*sólo para ejemplo*/
    background-image: url("/img/maroon5.jpg");
    margin-top: 120px;
    margin-left: 520px;
}
  
div#info5 {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgb(252,172,20);
    opacity:0;
    transition: opacity 0.3s;
}
  
div#imagen5:hover div#info5 {
    opacity:1;
}
  
p#headline5 {
    position: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div#imagen5:hover p#headline5 {
    margin-left: 0px;
}
  
p#descripcion5 {
    font-size: 1rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;     
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
}
  
div#imagen5:hover p#descripcion5 {
    margin-top: 0px;
}
  

#cuentaregresiva{

    position: absolute;
    z-index: 8000;
    top: 80%;
    left:0%;
    }




    .reloj {position: absolute;
        z-index: 8000;
        font-size: 50pt;
        top: 10%;
        left: 5%;

    }